<template>
  <!-- Footer Start -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          Copyright &copy; 2020 newCORRAD. All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
  <!-- end Footer -->
</template>
